//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

// Bootstrap variables
// $primary: #137DC5;
$primary: #223651;
// stylelint-disable value-keyword-case
$font-family-sans-serif: 'Poppins', Helvetica, Arial, serif !default;
$font-family-monospace: 'Poppins', Helvetica, Arial, serif !default;
