@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/angular/libs/select.component.scss';

.datatable-scroll {
  width: auto !important;
}


.datatable-scroll {
  width: auto !important;
}

.ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager .pager {
    background-color: #f3f2f7;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    height: 36px;
}
