<div class="row">
  
    <div class="col-md-6 col-12">
      <div class="d-flex justify-content-between align-items-center">
        <button class="btn btn-primary" rippleEffect (click)="openModal(airLine)">
            <i data-feather="plus" class="mr-0 mr-sm-1"></i
            ><span class="d-none d-sm-inline-block">Add New Record</span>
        </button>
      </div>
    </div>
    <div class="col-md-6 col-12 d-flex justify-content-md-end">
      <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
        <label class="d-flex align-items-center"
          >Search<input
            type="search"
            placeholder="Search"
            class="form-control ml-25"
            (keyup)="filterUpdate($event)"
            (search)="filterUpdate($event)"
        /></label>
      </div>
    </div>
  </div>
  <ngx-datatable
  [rows]="kitchenSinkRows"
  [rowHeight]="58"
  class="bootstrap core-bootstrap"
  [limit]="10"
  
  [headerHeight]="40"
  [footerHeight]="50"
  [scrollbarH]="true"
  [selectionType]="SelectionType.checkbox"
  [limit]="basicSelectedOption"
  
  >
    <ngx-datatable-column
      [width]="100"
      [sortable]="false"
      [canAutoResize]="false"
      [draggable]="false"
      [resizeable]="false"
    >
      <ng-template
        ngx-datatable-header-template
        let-value="value"
        let-allRowsSelected="allRowsSelected"
        let-selectFn="selectFn"
      >
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [checked]="allRowsSelected"
            (change)="selectFn(!allRowsSelected)"
            id="headerChkbxRef"
          />
          <label class="custom-control-label" for="headerChkbxRef"></label>
        </div>
      </ng-template>
      <ng-template
        ngx-datatable-cell-template
        let-rowIndex="rowIndex"
        let-value="value"
        let-isSelected="isSelected"
        let-onCheckboxChangeFn="onCheckboxChangeFn"
      >
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            [checked]="isSelected"
            (change)="onCheckboxChangeFn($event)"
            id="rowChkbxRef{{ rowIndex }}"
          />
          <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="ID#" prop="airlineId" [width]="100"></ngx-datatable-column>
    <ngx-datatable-column name="Airline Name" prop="airlineName" [width]="220">
   
    </ngx-datatable-column>
   
    <ngx-datatable-column name="a3 code" prop="a3code" [width]="200"></ngx-datatable-column>
    <ngx-datatable-column name="a2 code" prop="a2code" [width]="200"></ngx-datatable-column>
    
    <ngx-datatable-column name="Edit" [width]="200" [sortable]="false">
      <ng-template ngx-datatable-cell-template>
        <div class="d-flex align-items-center">
          
            <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
            ><i data-feather="edit" class="text-primary cursor-pointer"></i> </a
          >
          
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Delete" [width]="200" [sortable]="false">
        <ng-template ngx-datatable-cell-template>
          <div class="d-flex align-items-center">
            <a href="javascript:void(0)" ngbDropdownItem class="d-flex align-items-center"
                  ><i data-feather="trash-2" class="mr-50"></i> </a
                >
          </div>
        </ng-template>
      </ngx-datatable-column>
  </ngx-datatable>

  <!--modal-->
  <div id="airlinemodal">
    <ng-template #airLine let-modal>
      <div class="modal-header align-items-center">
       <h5 class="modal-title" id="companyProfileLabel">New Routing Details</h5>
       <button #closeModal  type="button" class="close m-0" (click)="modal.dismiss(airlinemasterForm)" aria-label="Close">
        <span aria-hidden="true">&times;</span>
       </button>
      </div>
  
      <div class="modal-body">
        
          <form [formGroup]="airlinemasterForm" #myForm="ngForm">
              <div class="row">
                <div class="col-6">
                 
                        <div class="row ">
                          <div class="col-12">
                            <div class="form-group">
                                  <label for="airlineName" class="">airlineName</label>
                                  <input 
                                  type="text"
                                  id="airlineName "
                                  class="form-control form-control-sm"
                                  placeholder="airlineName" 
                                  formControlName="airlineName"
                                    />
                                  <div *ngIf="airlinemasterForm.controls['airlineName'].invalid && airlinemasterForm.controls['airlineName'].touched" class="text-danger mt-1 validation-text">
                                    <div *ngIf="airlinemasterForm.controls['airlineName'].errors.required">
                                      airlineName is required.
                                    </div>
                                  </div>
                            </div>
                          </div>
                        
                        </div>
                </div>
         
                  <div class="col-6">
                    <div class="form-group">
                          <label for="a3code " class="">a3code</label>
                          <input 
                          type="text"
                          id="a3code "
                          class="form-control form-control-sm"
                          placeholder="a3code" 
                          formControlName="a3code"
                            />
                          <div *ngIf="airlinemasterForm.controls['a3code'].invalid && airlinemasterForm.controls['a3code'].touched" class="text-danger mt-1 validation-text">
                            <div *ngIf="airlinemasterForm.controls['a3code'].errors.required">
                              lineCompanyName is required.
                            </div>
                          </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="lineCallSign " class="">a2code</label>
                    
                      <input 
                          type="text"
                          id="a2code "
                          class="form-control form-control-sm"
                          placeholder="a2code" 
                          formControlName="a2code"
                            />
                        <div *ngIf="airlinemasterForm.controls['a2code'].invalid && airlinemasterForm.controls['a2code'].touched" class="text-danger mt-1 validation-text">
                          <div *ngIf="airlinemasterForm.controls['a2code'].errors.required">
                            a2code is required.
                          </div>
                       </div>
                    </div>
                  </div>
              
                
                </div>
              <div class="row">
        
                <div class="modal-footer">
                    <!-- <button  type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="modal.dismiss(airlinemasterForm)">Close</button> -->
                    <button type="submit" class="btn btn-success" (click)="onSubmit(airlinemasterForm)"  rippleEffect>Save Data</button>
                  
                </div>
              </div>
   
      </form>
  
      </div>
  
      
     
  </ng-template>
  </div>
  <!--modal-->