
.addrdata{
  font-size: 0.84rem;
  white-space: pre-wrap;
}
.ng-op-head{
background-color: rgb(198 198 198);
  color: #414141;
  letter-spacing: -0.7px;
  font-weight: 500;
  font-size: .96rem;
}
.ng-op-head span{
padding: .5rem;
}
.p-head{
padding: .4rem;
}
.p-body{
padding: .3rem;
}