.validation-text{
    font-size: 0.8rem;
    margin-top: .5rem!important;
}
.the-legend {
    border-style: none;
    background: #00000040;
    color: #0000006e;
    border-width: 0;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    width: auto;
    font-weight: 800;
    padding: 7px 11px;
    border: 1px solid #e0e0e0;
}
.the-fieldset {
    border: 1px solid #e0e0e0;
    padding: 13px 24px;
}
.breadcrumb{
    font-size: .89rem!important;
}
table, th, td {
    // border: 1px solid rgb(75, 66, 66);
    border-collapse: collapse;
  }
//   th, td {
//     background-color: #96D4D4;
//   }
  // .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{
  //   padding: 0!important;
  //   border-bottom: 1px solid rgb(75, 66, 66);
  // }
  .addrdata{
    font-size: 0.84rem;
    white-space: pre-wrap;
  }
.ng-op-head{
  background-color: rgb(198 198 198);
    color: #414141;
    letter-spacing: -0.7px;
    font-weight: 500;
    font-size: .96rem;
}
.ng-op-head span{
  padding: .5rem;
}
.p-head{
  padding: .4rem;
}
.p-body{
  padding: .3rem;
}