
<div class="content-wrapper container-xxl p-0">



    <ng-template #modalForm let-modal>
        <div class="modal-header">
            <h5 class="modal-title" >Update</h5>
            <button type="button" class="close" (click)="modal.dismiss(StatusForm.reset)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">

            <form [formGroup]="StatusForm">
                <div class="form-group">
                    <input type="datetime-local"  class="form-control" 
                        name="dateCreated" formControlName="dateCreated" hidden />
                </div>
               
                <div class="row mr-1">
                    <div class="col">
                    <div class="form-group row">
                        <label for="cargoStatusDate" class="col-sm-4 col-form-label">Status Date </label>
                        <div class="col-12">
                            <input type="datetime-local" id="cargoStatusDate " class="form-control" placeholder="cargoStatusDate"
                                name="cargoStatusDate" formControlName="cargoStatusDate" />
                        </div>
                    </div>
                    </div>
                </div>
                
 

                <div class="row mr-1">
                    <div class="col">
                    <div class="form-group row">
                        <label for="statusRemarks "  class="col-sm-4 col-form-label">Remarks </label>
                        <div class="col-12">
                            <input type="text" id="statusRemarks " class="form-control" placeholder="statusRemarks"
                                name="statusRemarks" formControlName="statusRemarks" />
                        </div>
                    </div>
                    </div>
                </div>

               


                <div class="modal-footer">
                    <button #closeModal type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="modal.dismiss()">Close</button>
                    <button type="button" class="btn btn-gradient-success"  (click)="onSubmitService(StatusForm)" 
                       rippleEffect>Save</button>
                       <!-- [disabled]="StatusForm.invalid"
                       -->
                </div>

            </form>

        </div>



    </ng-template>


    <section id="ngx-datatable-kitchen-sink">
        <core-card-snippet [snippetCode]="_snippetCodeKitchenSink">
           



            <ngx-datatable [rows]="kitchenSinkRows" [rowHeight]="58" class="bootstrap core-bootstrap" [limit]="10"
                [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true" [columnMode]="ColumnMode.force"
                [selectionType]="SelectionType.checkbox" [limit]="basicSelectedOption" (select)="onSelect($event)" >

                <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                    [resizeable]="false">
                    <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                        let-selectFn="selectFn">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [checked]="allRowsSelected"
                                (change)="selectFn(!allRowsSelected)" id="headerChkbxRef" />
                            <label class="custom-control-label" for="headerChkbxRef"></label>
                        </div>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value"
                        let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" [checked]="isSelected"
                                (change)="onCheckboxChangeFn($event)" id="rowChkbxRef{{ rowIndex }}" />
                            <label class="custom-control-label" for="rowChkbxRef{{ rowIndex }}"></label>
                        </div>
                    </ng-template>
                </ngx-datatable-column>
              
                <ngx-datatable-column name="Status" prop="cargoStatusName" [width]="340">
                </ngx-datatable-column>
                <ngx-datatable-column name="Status Date" prop="cargoStatusDate" [width]="140">
                    <ng-template let-value="value" ngx-datatable-cell-template>{{value |date:'dd-MM-yyyy  HH:MM'}}</ng-template>
                </ngx-datatable-column>
                
                <ngx-datatable-column name="Remarks" prop="statusRemarks" [width]="150">
                </ngx-datatable-column>
                <ngx-datatable-column name="updated By" prop="modifiedBy" [width]="120"></ngx-datatable-column>
                <ngx-datatable-column name="updated On" prop="dateModifed" [width]="120">
                    <ng-template let-value="value" ngx-datatable-cell-template>{{value |date:'dd-MM-yyyy  HH:MM'}}</ng-template>
                </ngx-datatable-column>
  
                <ngx-datatable-column name="Actions" [width]="180" [sortable]="false" prop="id">
                    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                        <button class="btn btn-gradient-primary ml-1" rippleEffect>
                            <span class="d-none d-sm-inline-block" (click)="populateForm(row,modalForm)">Update</span>
                        </button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        
        </core-card-snippet>
    </section>
</div>

