@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
@import '@core/scss/angular/libs/datatables.component.scss';

.datatable-scroll {
  width: auto !important;
}
.card .card-header {
  display: none;
}
.btn-gradient-primary{
  background: linear-gradient(118deg, #223651, rgba(34, 54, 81, 0.7));
}
.btn-gradient-danger{
  background: linear-gradient(118deg,#ea5455,#f08182);
}
.btn-gradient-success{
  background: linear-gradient(118deg,#28c76f,#48da89);
  }
  // #loading{
  //   position: absolute;
  //   left: 50%;
  //   top: 50%;
  //   z-index: 99999;

  //   width: 55px;
  //   height: 55px;
  //   // width: 150px;
  //   // height: 150px;
  //   // margin: -75px 0 0 -75px;
  //   // border: 16px solid #f3f3f3;
  //    border-radius: 50%;
  //   // border-top: 16px solid #3498db;
  //   background: #fff;
 
  //   width: 4rem;
  //   height: 4rem;
  //   animation: spin 2s linear infinite;
  //   }
      



  //   // @keyframes spin {
  //   //   0% { transform: rotate(0deg); }
  //   //   100% { transform: rotate(360deg); }
  //   // }