ngx-datatable.bootstrap.core-bootstrap .datatable-footer .datatable-pager ul li.disabled a {
    color: #b9b9c3;
}
.ngx-datatable.bootstrap.core-bootstrap .datatable-footer {
    background-color: #fff;
    color: #636363;
    overflow: hidden;
    margin-bottom: 1rem;
}